body {
    text-align: center;
}

body {
    text-align: center;
}

div {
    font-family: "Splatfont";

    .page {
        min-height: 100%;
        box-sizing: border-box;
    }

    .oceancalc {
        position: relative;
        background-image: url(https://app.splatoon2.nintendo.net/images/bundled/8c15ceb605300fbc22963fabcb09fb22.png);
        background-size: 255px 127px;
        background-repeat: repeat;
        overflow: hidden;
        width: 100%;

        .navigation-bar {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            background-image: url(https://app.splatoon2.nintendo.net/images/bundled/26c8c0b675f643f384991434574baf71.png);
            background-size: 80px 80px;
            color: #fff;
            line-height: 48px;
            min-height: 48px;
            font-family: "Splatfont";
            z-index: 1000;

            & h1 {
                text-align: center;
                font-size: 18px;
                padding: 0 16px;
                flex-grow: 1;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .oceancalc-header {
        position: relative;
        text-align: center;
        padding: 16px 0 30px;

        h3 {
            font-family: "Splatfont";
            min-width: 200px;
            background-position-x: 50%;
            background-position-y: center;
            box-sizing: border-box;
            color: #ff5033;

            span {
                padding-top: 12px;
                min-width: 200px;
                background-position: 50%;
                box-sizing: border-box;
                display: inline-block;
                background-image: url("https://app.splatoon2.nintendo.net/images/bundled/cc7454b6eb6b8e16852ed21f00e0fd40.png");
                background-size: 488px 52px;
                height: 52px;
                vertical-align: middle;
            }

            &::before {
                background-position: 0px center;
                width: 42px;
                content: "";
                display: inline-block;
                background-image: url("https://app.splatoon2.nintendo.net/images/bundled/cc7454b6eb6b8e16852ed21f00e0fd40.png");
                background-size: 488px 52px;
                height: 52px;
                vertical-align: middle;
            }

            &::after {
                background-position: 100% center;
                width: 42px;
                content: "";
                display: inline-block;
                background-size: 488px 52px;
                background-image: url("https://app.splatoon2.nintendo.net/images/bundled/cc7454b6eb6b8e16852ed21f00e0fd40.png");
                height: 52px;
                vertical-align: middle;
            }
        }

        h2 {
            position: relative;
            object-fit: cover;
            background-image: url("~static/seedhack.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 300px;
            margin: 0 auto;
            height: 171px;
            z-index: 1;

            & span {
                display: none;
            }
        }

        h3 {
            min-width: 200px;
            background-position-x: 50%;
            background-position-y: center;
            box-sizing: border-box;
            color: #ff5033;
        }
    }

    .coop-overfishing-list-wrapper {
        position: relative;
        background: #150909;
        padding-top: 16px;
        padding-bottom: 90px;
        padding-bottom: calc(constant(safe-area-inset-bottom) + 90px);
        padding-bottom: calc(env(safe-area-inset-bottom) + 90px);
        z-index: 1;

        &::before {
            // background: url(https://app.splatoon2.nintendo.net/images/bundled/b24ee02521f18ebe1bf8b05e1396c3dc.png);
            background: #150909;
            content: "";
            position: absolute;
            width: 100%;
            height: 20px;
            margin-top: -36px;
            left: 0;
            -webkit-mask-image: url("~static/3ff65812f7fc0aff176df4c78172691c.png");
            // mask-image: url(https://app.splatoon2.nintendo.net/images/bundled/3ff65812f7fc0aff176df4c78172691c.png);
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
            -webkit-mask-size: 100% 100%;
            mask-size: 100% 100%;
        }
    }

    #coop-overfishing-records {
        table {
            font-family: "Splatfont2";
            // table-layout: auto;
            table-layout: fixed;
            width: 100%;
            max-width: 1200px;
            // text-align: center;
            background: #150909;
            // border-collapse: collapse;

            background-size: 40px 40px;
            padding: 0 4px;
            margin: 0 auto;
            margin-bottom: 24px;
            color: #fff;
        }

        thead {
            th {
                img {
                    object-fit: scale-down;
                    width: 100%;
                    max-width: 12em;
                    border-radius: 0.5em;
                }
            }

            p {
                font-size: 1.2em;
            }
        }

        td {
            display: float;
            background: rgba(255, 255, 255, 0.1);
            background-image: url(https://app.splatoon2.nintendo.net/images/bundled/b24ee02521f18ebe1bf8b05e1396c3dc.png);
            background-size: 40px 40px;
            border-radius: 0.5em;
            padding: 0.3em;
            border: 0.1em solid #150604;
            // height: 60px;
            vertical-align: middle;
            text-align: center;
            // width: 100px;

            &::before {
                white-space: pre;
            }
        }

        .eggs {
            font-size: 125%;
            color: yellow;
            text-shadow: 0.15em 0.15em 0 #000;

            &::before {
                display: inline-block;
                content: "";
                background: url(https://app.splatoon2.nintendo.net/images/bundled/3aa6fb4ec1534196ede450667c1183dc.png)
                    50% no-repeat;
                background-repeat: no-repeat;
                background-position: 50%;
                background-size: contain;
                width: 1.2em;
                height: 1em;
                vertical-align: middle;
                margin-top: -0.1em;
                filter: drop-shadow(0.15em 0.15em 0 #000);
            }
        }

        .norecords {
            font-size: 125%;
            color: yellow;
            text-shadow: 0.15em 0.15em 0 #000;
        }

        .golden_ikura_num {
            &::before {
                content: "X";
                font-size: 0.6em;
                margin: 0 0.1em;
            }
        }

        ul {
            margin: 0;
            padding: 0;
        }

        .weapons {
            display: flex;
            width: 100%;
            list-style-type: none;
            justify-content: center;
            cursor: pointer;

            li {
                background: #000;
                width: 2em;
                height: 2em;
                border-radius: 1em;
            }

            li:not(:last-child) {
                margin-right: 0.2em;
            }

            img {
                width: 2em;
            }
        }

        @media (max-width: 1020px) {
            thead {
                p {
                    display: none;
                }
            }
            .weapons {
                display: none;
            }
        }

        .links {
            img {
                width: 1.8em;
            }
        }
    }

    .coop-overfishing-title {
        text-align: center;
    }

    .oceancalc-table {
        font-family: "Splatfont2";
        table-layout: fixed;
        color: #ddd;
        width: 100%;
        text-align: center;
    }
}
